.heading {
	padding-top: 59px;

	h1 {
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		padding: 2rem;
		text-align: center;
	}
}

.container {
	display: flex;
	justify-content: center;
	padding: 1rem;

	.row {
		/* display: flex; */
		display: grid;
		grid-template-columns: auto auto auto auto;
		gap: 30px;

		.col {
			display: flex;
			flex-direction: column;
			gap: 30px;
		}

		img {
			width: 100%;
			max-width: 300px;
			height: auto;
		}
	}
}

@media screen and (max-width: 800px) {
	.container {
		.row {
			flex-direction: column;
		}
	}
}
