---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Journal">
	<div class="writing">
		<h1>The Pursuit of Building</h1>
		<p>
			I’ve always enjoyed the process of acquiring the knowledge to learn about something I’ve taken interested
			in. I use to think it is all about reaching that destination, the end product. But only recently realized
			it’s the journey that I become most nostalgic about. Thinking back to when I was 16 (didn’t even know what
			ISO was), my mom would take me to the beach at sunset so I could take photos for my portfolio. The world’s
			worst photos definitely, but it fed my desire to wanting to know more about photography. <br /><br />

			This “epiphany” developed through my evolving interest in web development (building a website). Something I
			was very briefly exposed to in my degree, something I thought you needed to be very smart to do. Turns out,
			YouTube is just as good.
			<br /><br />

			“There’s just something about waking up in the morning and having this ability to build something with code,
			I find immense satisfaction in that” - Jacob Binnie <br /><br />

			As opposed to photography, this web development thing offers creativity yet logical thinking. There is a
			fixed language and set of restrictions to learn in order to create a website. Sure photography is similar,
			but it lacks that extra measure of mathematical like-thinking. Bouncing between the two different interests
			resets my mind when approaching each one. It’s as if they provide a refreshing break from one another. <br
			/><br />

			It’s always fun and exciting embarking on something new in your life - that Curious George effect. It keeps
			you young and fit. Don’t get me wrong, no one hates change more than me. But in this instance where we are
			learning something new, it helps breeds confidence. Because at any point, when this web development thing
			hits a hurdle, I simply tell myself “you’re just on a side quest bro”. And with this positive attitude, no
			hurdle seems impossible. <br /><br />

			Keep pursuing that thing you want to do, remember why you started. <br />
			You’ll never know how it’ll pay off. <br /><br /><br /><br />

			The link to my latest
			<a
				style="font-style: italic"
				style="color: purple"
				href="https://sims7878.github.io/vlokcars/"
				target="_blank">website</a
			>
		</p>

		<img class="codeee" src="../../images/journal/pursuitofbuilding.jpg" />
	</div>
</Layout>

<style>
	.writing {
		margin: 50px;
		margin: 0 17%;
		padding-top: 90px;
		width: auto;
	}

	.writing h1,
	p {
		color: white;
		text-decoration: none;
		margin-bottom: 20px;
	}

	.writing p {
		font-size: 15px;
		text-align: left;
		padding-bottom: 45px;
		max-width: fit-content;
		hyphens: none;
		line-height: 1.5em;
	}

	.writing a {
		/* display: none; */
		color: lightpink;
		text-decoration: none;
	}

	.writing img {
		width: 100%;
		height: auto;
	}

	@media (max-width: 800px) {
		.writing {
			margin: 0 30px;
			text-align: left;
		}

		.writing h1 {
			font-size: 20px;
			margin-bottom: 20px;
		}
		.writing p {
			font-size: 12px;
			hyphens: none;
		}
	}
</style>
