---
import Layout from "../layouts/Layout.astro";
---

<Layout title="992 GT3RS">
	<div class="heading">
		<h1>992 GT3RS</h1>
	</div>

	<div class="porsche">
		<img src="../images/3rs/GT3RS, Simon, 2023.JPG" />
		<img src="../images/3rs/GT3RS, Simon, 2023-2.JPG" />
		<img src="../images/3rs/GT3RS, Simon, 2023-15.JPG" />
		<img src="../images/3rs/GT3RS, Simon, 2023-4.JPG" />
		<img src="../images/3rs/GT3RS, Simon, 2023-11.JPG" />
		<img src="../images/3rs/GT3RS, Simon, 2023-5.JPG" />
		<img src="../images/3rs/GT3RS, Simon, 2023-8.JPG" />
		<img src="../images/3rs/GT3RS, Simon, 2023-6.JPG" />
		<img src="../images/3rs/GT3RS, Simon, 2023-7.JPG" />
		<img src="../images/3rs/GT3RS, Simon, 2023-9.JPG" />
		<img src="../images/3rs/GT3RS, Simon, 2023-10.JPG" />
		<img src="../images/3rs/GT3RS, Simon, 2023-12.JPG" />
		<img src="../images/3rs/GT3RS, Simon, 2023-13.JPG" />
		<img src="../images/3rs/GT3RS, Simon, 2023-14.JPG" />
		<img src="../images/3rs/GT3RS, Simon, 2023-3.JPG" />
	</div>
</Layout>

<style>
	/* .heading{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
} 

.porsche{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 0px 35px 35px 35px;
    width: 100%;
}

.porsche img{
    width: 100%;
    max-width: 300px;
    height: auto;
}

@media(max-width: 800px){
    .layout-latestwork{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 30px 30px 30px;
        gap: 35px;
    }

    .image{
        width: 100%;
        height: auto;
    }

    .layout-recentwork{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 30px 30px 30px;
        gap: 35px;
        background-color: black;
    }
} */

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.heading {
		padding-top: 59px;
	}

	.heading h1 {
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		padding: 2rem;
		text-align: center;
	}

	.gallery {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px 100px;
	}

	.gallery img {
		width: 100%;
		height: auto;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.row {
		display: flex;
		gap: 30px;
	}

	.col {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	@media screen and (max-width: 800px) {
		.row {
			flex-direction: column;
		}

		.gallery {
			margin: 10px 50px;
		}
	}
</style>
