---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
	<div class="aboutmebaby">
		<div class="aboutmebaby-text">
			<h1>Hi, I'm Simon Luckhoff</h1>
			<p class="pp">
				By day an avid car photographer and by night a wannabe coder. <br /><br />
				My passion lays with cars ever since I was a little boy. Later on in High School I was exposed to taking
				photos where my love for photography began. Merging the two only seemed like the appropriate thing to do.
				<br /><br />
				From 2021 to 2023 I completed my Bachelors degree in Visual Communication, majoring in Art Direction. Ever
				since I can remember, I took on freelance jobs. In 2021 I began work for The Archive Automotive.
				<br /><br />
				My life completely changed, I went from a little boy taking photos of his dog to taking photos of some of
				the most rare cars in South Africa.
				<br /><br />
				Recently I began this coding journey (yes, I coded this website), something I was exposed to very briefly
				during my degree.
			</p>
			<div class="seemywork">
				<a href="./work.html">See my work -></a>
			</div>
		</div>

		<div class="aboutmebaby-img">
			<img src="../images/about.png" />
		</div>
	</div>
</Layout>

<style>
	.aboutmebaby {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 0 auto;
		margin: 4%;
		gap: 75px;
		padding-top: 50px;
	}

	/* .aboutmebaby-text{
    text-align: justify;
} */

	.aboutmebaby-text h1,
	.pp {
		color: white;
		max-width: 400px;

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		line-height: 1.5em;
	}

	.aboutmebaby-text h1 {
		padding-bottom: 15px;
	}

	.aboutmebaby-img img {
		max-width: 500px;
		display: flex;
	}

	.seemywork a {
		color: white;
		text-decoration: none;
		font-style: italic;
		padding-top: 59px;
		/* padding-right: 75px;
    padding-bottom: 25px; */

		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: auto;
	}

	@media (max-width: 1230px) {
		.aboutmebaby {
			display: flex;
			flex-direction: column;
			gap: 35px;
			padding: 20px;
			padding-top: 75px;
		}

		.aboutmebaby h1 {
			font-size: 20px;
		}

		.aboutmebaby-img img {
			width: 30vh;
		}

		.seemywork a {
			padding-right: 20px;
			padding-top: 40px;
		}
	}
</style>
