---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import contact from "../images/contact.jpg";
---

<Layout title="Contact">
	<div class="contact">
		<div class="contact-content">
			<div class="contact-text">
				<h1>Contact</h1>
				<ul>
					<a href="https://www.instagram.com/simonluckhoff/?hl=en"><li>-> Instagram</li></a>
					<a href="https://x.com/simonluckhoff"><li>-> X</li></a>
					<a href="https://www.youtube.com/@simonluckhoff"><li>-> YouTube</li></a>
					<a href=""><li>-> simonluckhoff@gmail.com</li></a>
				</ul>
			</div>
			<div class="contact-image">
				<Image src={contact} alt="Contact photo" />
			</div>
		</div>
	</div>
</Layout>

<style>
	.contact {
		display: flex;
		align-items: center;
		justify-content: center;
		height: calc(100vh - 49px);
		margin-top: 49px;
	}

	.contact-content {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 800px;
		gap: 75px;

		.contact-image {
			img {
				object-fit: cover;
				height: 70vh;
				width: 100%;
			}
		}

		.contact-text {
			max-width: 300px;
			height: auto;
			padding: 40px;

			h1,
			a {
				color: white;
				text-decoration: none;
			}

			h1 {
				padding-bottom: 30px;
				font-size: 4rem;
			}

			a:hover {
				font-style: italic;
				text-decoration: underline;
			}

			li {
				list-style: none;
				padding: 10px 0;
				display: flex;
				align-items: flex-end;
			}
		}
	}

	@media (max-width: 800px) {
		.contact {
			height: 100%;
			padding: 2rem 1rem;

			.contact-content {
				flex-direction: column;
				gap: 35px;

				.contact-text {
					padding: 0;
					padding-bottom: 2rem;
				}
			}
		}
	}
</style>
