---
import Layout from "../../layouts/Layout.astro";
import CarImages from "../../CarImages";
---

<Layout title="992 GT3RS">
	<div class="heading">
		<h1>992 GT3RS</h1>
	</div>

	<div class="container">
		<div class="row">
			<CarImages client:only bucketFolder="/cars/992 GT3RS - Airport" />
		</div>
	</div>

	<!-- <script is:inline src="/lightbox-plus-jquery.js"></script> -->
</Layout>

<style>
	/* @import url("../../styles/lightbox.css"); */
	@import url("../../styles/cars.css");
</style>
