---
import CarImages from "../../CarImages";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Continental GT Number 9">
	<div class="heading">
		<h1>Bentley Continental GT Number 9</h1>
	</div>

	<div class="gallery">
		<div class="container">
			<div class="row">
				<CarImages client:only bucketFolder="/cars/Bentley NBR 9" />
			</div>
		</div>
	</div>
</Layout>

<style>
	@import url("../../styles/cars.css");
</style>
