---
import CarImages from "../../CarImages";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Bugatti Veyron">
	<div class="heading">
		<h1>Bugatti Veyron</h1>
	</div>

	<div class="container">
		<div class="row">
			<CarImages client:only bucketFolder="/cars/Veyron" />
		</div>
	</div>
</Layout>

<style>
	@import url("../../styles/cars.css");
</style>
