---
import CarImages from "../../CarImages";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="AMG G63 6x6 Brabus">
	<div class="heading">
		<h1>Mercedes-Benz AMG G63 6x6 Brabus</h1>
	</div>

	<div class="gallery">
		<div class="container">
			<div class="row">
				<CarImages client:only bucketFolder="/cars/G63 6x6" />
			</div>
		</div>
	</div>
</Layout>

<style>
	@import url("../../styles/cars.css");
</style>
