---
import CarImages from "../../CarImages";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="i8 Spyder">
	<div class="heading">
		<h1>BMW i8 Spyder</h1>
	</div>

	<div class="gallery">
		<div class="container">
			<div class="row">
				<CarImages client:only bucketFolder="/cars/i8" />
			</div>
		</div>
	</div>
</Layout>

<style>
	@import url("../../styles/cars.css");
</style>
