---
import CarImages from "../../CarImages";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="991.1 GT3RS">
	<div class="heading">
		<h1>Porsche 991.1 GT3RS</h1>
	</div>

	<div class="gallery">
		<div class="container">
			<div class="row">
				<CarImages client:only bucketFolder="/cars/Orange GT3RS" />
			</div>
		</div>
	</div>
</Layout>

<style>
	@import url("../../styles/cars.css");
</style>
