---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="488 Pista">
	<div class="heading">
		<h1>Ferrari 488 Pista</h1>
	</div>

	<div class="gallery">
		<div class="container">
			<div class="row">
				<div class="col">
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-2.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-3.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-4.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-5.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-6.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-7.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-8.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-9.jpg" />
				</div>

				<div class="col">
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-11.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-24.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-13.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-14.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-15.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-16.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-17.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-18.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-30.jpg" />
				</div>

				<div class="col">
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-19.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-20.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-22.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-23.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-12.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-25.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-21.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-26.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-27.jpg" />
				</div>
				<div class="col">
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-28.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-31.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-32.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-33.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-34.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-35.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-36.jpg" />
					<img src="../../images/low_res/Pista - Marco/Pista - Marco, Simon, 2024-10.jpg" />
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.heading {
		padding-top: 59px;
	}

	.heading h1 {
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		padding: 2rem;
		text-align: center;
	}

	.gallery {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px 100px;
	}

	.gallery img {
		width: 100%;
		height: auto;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.row {
		display: flex;
		gap: 30px;
	}

	.col {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	@media screen and (max-width: 800px) {
		.row {
			flex-direction: column;
		}

		.gallery {
			margin: 10px 50px;
		}
	}
</style>
