---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="The Archive Automotive">
	<div class="heading">
		<h1>The Archive Automotive</h1>
	</div>

	<div class="gallery">
		<div class="container">
			<div class="row">
				<div class="col">
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-2.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-3.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-4.jpg" />
				</div>
				<div class="col">
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-5.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-6.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-7.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-8.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-9.jpg" />
				</div>
				<div class="col">
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-10.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-11.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-12.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-13.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-14.jpg" />
				</div>
				<div class="col">
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-15.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-16.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-17.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-18.jpg" />
					<img src="../../images/low_res/The Archive/The Archive, Simon, 2024-19.jpg" />
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	@import url("../../styles/cars.css");
</style>
