---
import CarImages from "../../CarImages";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="E90 M3">
	<div class="heading">
		<h1>BMW E90 M3</h1>
	</div>

	<div class="gallery">
		<div class="container">
			<div class="row">
				<CarImages client:only bucketFolder="/cars/Zaki E90 M3" />
			</div>
		</div>
	</div>
</Layout>

<style>
	@import url("../../styles/cars.css");
</style>
