---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="992 GT3RS">
	<div class="heading">
		<h1>992 GT3RS</h1>
	</div>

	<div class="gallery">
		<div class="container">
			<div class="row">
				<div class="col">
					<img src="../../images/3rs/GT3RS, Simon, 2023.JPG" />
					<img src="../../images/3rs/GT3RS, Simon, 2023-2.JPG" />
					<img src="../../images/3rs/GT3RS, Simon, 2023-15.JPG" />
					<img src="../../images/3rs/GT3RS, Simon, 2023-4.JPG" />
				</div>
				<div class="col">
					<img src="../../images/3rs/GT3RS, Simon, 2023-5.JPG" />
					<img src="../../images/3rs/GT3RS, Simon, 2023-11.JPG" />
					<img src="../../images/3rs/GT3RS, Simon, 2023-8.JPG" />
					<img src="../../images/3rs/GT3RS, Simon, 2023-6.JPG" />
				</div>
				<div class="col">
					<img src="../../images/3rs/GT3RS, Simon, 2023-7.JPG" />
					<img src="../../images/3rs/GT3RS, Simon, 2023-9.JPG" />
					<img src="../../images/3rs/GT3RS, Simon, 2023-10.JPG" />
					<img src="../../images/3rs/GT3RS, Simon, 2023-12.JPG" />
				</div>
				<div class="col">
					<img src="../../images/3rs/GT3RS, Simon, 2023-13.JPG" />
					<img src="../../images/3rs/GT3RS, Simon, 2023-14.JPG" />
					<img src="../../images/3rs/GT3RS, Simon, 2023-3.JPG" />
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	@import url("../../styles/cars.css");
</style>
